<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-content">
            <div class="footer-col footer-col-1">
                <h3>{{ site.title }}</h3>
                <p>{{ site.description }}</p>
            </div>

            <div class="footer-col footer-col-2">
                <h3>Connect</h3>
                <ul class="social-links">
                    {% if site.github_username %}
                    <li>
                        <a href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener">
                            GitHub
                        </a>
                    </li>
                    {% endif %}
                    {% if site.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" rel="noopener">
                            Twitter
                        </a>
                    </li>
                    {% endif %}
                    {% if site.linkedin_username %}
                    <li>
                        <a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank" rel="noopener">
                            LinkedIn
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>

            <div class="footer-col footer-col-3">
                <h3>Subscribe</h3>
                <p>
                    <a href="{{ '/feed.xml' | relative_url }}">RSS Feed</a>
                </p>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}. All rights reserved.</p>
        </div>
    </div>
</footer>